@model List<BlogModel>
@{
    ViewData["Title"] = "Blog";
    int count = 0;
}
<h2>Blog List</h2>

<a href="/Blog/Create" class="btn btn-primary">Create</a>

<table class="table table-responsive">
    <thead>
        <tr>
            <td>No.</td>
            <td>Title</td>
            <td>Author</td>
            <td>Content</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>@blog.Title</td>
                <td>@blog.Author</td>
                <td>@blog.Content</td>
                <td>
                    <a class="btn btn-warning" href="/Blog/Edit/@blog.Id">
                        Edit
                    </a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>