<h1>Error, Something went wrong. Try again </h1>
<input action="action"
       class="btn btn-secondary"
       onclick="window.history.go(-1); return false;"
       type="submit"
       value="Go back" />